<main>
    {{ #if self.stories.is_empty() }}
    {{ else }}
        {{ let len = self.stories.len() -1; }}
        {{ #for (i, story) in self.stories.iter().enumerate() }}
            {{ story.render(writer) }}
            {{ #if i != len }}
                <hr />
            {{ /if }}
        {{ /for }}
    {{ /if }}
</main>

<aside>
    <form action="/" method="get" id="filter">
        <button type="submit">Sort and Filter</button>
        <fieldset>
            <details open="open">
                <summary>Ratings</summary>
                {{ #for (rating, count) in self.stats.ratings.iter() }}
                    {{ let encoded = crate::filters::percent_encode(rating.class()); }}
                    <span>
                        <input type="radio" name="rating" id="{{ encoded.render(writer) }}">
                        <label for="{{ encoded.render(writer) }}">{{ rating.name() }} ({{ count }})</label>
                    </span>
                {{ /for }}
            </details>
            {{ let lists = vec![
                ("Categories", &self.stats.categories),
                ("Origins", &self.stats.origins),
                ("Warnings", &self.stats.warnings),
                ("Pairings", &self.stats.pairings),
                ("Characters", &self.stats.characters),
            ]; }}
            {{ #for (name, list) in lists }}
                <details open="open">
                    <summary>{{ name }}</summary>
                    {{ #for (entry, count) in list.iter() }}
                        {{ let encoded = crate::filters::percent_encode(&entry.text); }}
                        <span>
                            <input type="checkbox" id="{{ encoded.render(writer) }}">
                            <label for="{{ encoded.render(writer) }}">{{ entry.text }} ({{ count }})</label>
                        </span>
                    {{ /for }}
                </details>
            {{ /for }}
        </fieldset>
        <button type="submit"> Sort and Filter</button>
    </form>
</aside>