<article class="story">
    <header>
        <div class="left">
            <span class="rating {{ self.rating.class() }}">{{ self.rating.symbol() }}</span> <a href="/story/{{ self.id }}/1{{ self.query }}" class="title">{{ self.info.title }}</a> by
            {{ #for (i, author) in self.authors.iter().enumerate() }}
                <a href="/search?search={{ crate::filters::percent_encode(&author.text).render(writer) }}">{{ author.text }}</a>{{ #if i != (self.authors.len() - 1) }},{{ /if }}
            {{ /for }}
        </div>
        <p class="right">
            {{ #for (i, category) in self.categories.iter().enumerate() }}
                <span>{{ category.text }}</span>{{ #if i != (self.categories.len() - 1) }},{{ /if }}
            {{ /for }}
        </p>
    </header>
    {{ self.origins.render(writer) }}
    {{ self.tags.render(writer) }}
    <div class="summary">{{ self.info.summary }}</div>
    <p class="meta"><span class="info">chapters</span>: <span class="count">{{ self.len }}</span></p>
</article>