<!DOCTYPE html>
<html class="{{ self.width.as_class() }} {{ self.theme.as_class() }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ self.title }} | local archive</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="bg-gray-900">
    {{ self.nav.render(writer) }}
    <div class="max-w-7xl mx-auto">
        {{ self.body.render(writer) }}
    </div>
</body>

</html>
