<main>
    {{ let len = self.card.len; }}
    {{ let id = self.card.id; }}
    {{ self.card.render(writer) }}
    <hr />
    {{ self.chapter }}
    <hr />
    {{ #if len != 1 }}
        <footer>
            <nav>
                <a href="/story/{{ id  }}/1" class="item">first</a>
                <div class="spacer"></div>
                {{ #if self.index.saturating_sub(1) != 0 }}
                    <a href="/story/{{ id  }}/{{ self.index - 1 }}" class="item">prev</a>
                {{ else }}
                    <a href="/story/{{ id  }}/1" class="item">prev</a>
                {{ /if }}
                {{ #if self.index + 1 != len }}
                    <a href="/story/{{ id  }}/{{ self.index + 1 }}" class="item">next</a>
                {{ else }}
                    <a href="/story/{{ id  }}/{{ len }}" class="item">next</a>
                {{ /if }}
                <div class="spacer"></div>
                <a href="/story/{{ id  }}/{{ len }}" class="item">last</a>
            </nav>
        </footer>
    {{ /if }}
</main>